{% extends "base.html" %}

{% block title %}Contact - My Website{% endblock %}

{% block content %}
<div>
    <h1 style="color: blue; font-size: 24px;">
        this is contact page
    </h1>
    <p>This is the contact page of our website. We are dedicated to providing the best service to our customers.</p>
    <p>Our team consists of experienced professionals who are passionate about their work.</p>
    <p>Feel free to contact us for more information or if you have any questions.</p>
    <ul>
        <li>Email:anant@co.on</li>
        <li>Phone: 123-456-7890</li>
        <li>Address: 123 Main St, Anytown, USA</li>
    </ul>
</div>
{% endblock %}